*{
	margin: 0px;
	padding: 0px;
}

@font-face {
font-family: "FjallaOne";
src: url("fonts/fjallaone-regular.otf") format("opentype");
}

@font-face {
font-family: "Lato";
src: url("fonts/lato-regular.ttf") format("opentype");
}

@font-face {
font-family: "LatoBold";
src: url("fonts/lato-bold.ttf") format("opentype");
}

@font-face {
font-family: "Oswald";
src: url("fonts/oswald-light.otf") format("opentype");
}


/*-------------   header styles   -------------*/
header{
	min-width: 1170px;
	background-color: rgb(32, 38, 40);
	width: 100%;
	height: 80px;
}

section{
	width: 1170px;
	margin-left: auto;
	margin-right: auto; 
}

header .logo{
	display: inline-block;
	font-size: 25px;
	font-family: "FjallaOne";
	color: rgb(231, 231, 231);
	text-transform: uppercase;
	line-height: 1.2;
	text-align: left;
	padding-top: 25px;	
    padding-bottom: 25px;	
}

header nav{
	float: right; 
	display: inline-block;
	height: 100%;
}

ul.header_nav {
	display: inline-block;
	font-size: 13px;
	font-family: "FjallaOne";
	color: rgb(231, 231, 231);
	text-transform: uppercase;
	line-height: 1.2;
	height: 100%;
}

.header_nav li{
	display: inline-block;
	justify-content: center;
    padding-right: 20px;
    padding-left: 20px;	
    padding-top: 33px;	
    padding-bottom: 33px;			
}


/*-------------   banner styles   -------------*/
section.banner_section{
	margin-bottom: 0px;
	height: 100%;
	position: relative;
}

img.bannercircle{
	margin-bottom: 10px;
}

img.lineimage{
	margin-bottom: 10px;
	margin-left: 14px;
	width: 250px;
}

div.banner{
	min-width: 1170px;
	background-image: url(images/banner.png);
	background-size: cover;
	background-position: center;
	height: 560px;
	width: 100%;
}

div.banner_text{
	position: absolute;
	bottom: 0px;
	margin-bottom: 60px;
}

p.banner_text{
	letter-spacing:3px;
	font-size: 31px;
	font-family: "FjallaOne";
	color: rgb(231, 231, 231);
	text-transform: uppercase;
	line-height: 1.2;
	text-align: left;
	text-align: bottom;
	margin-bottom: 8px;
	margin-top: 8px;
}

p.banner_linktext{
	letter-spacing:1px;
	font-size: 15px;
	font-family: "FjallaOne";
	color: rgb(232, 76, 61);
	line-height: 1.2;
	text-align: left;
	margin-top: 10px;
}

/*-------------   row 1 styles   -------------*/
section.row1_section{
	width: 1170px;
	display: flex;
	height: 100%;
	display: flex;
	justify-content:space-between;
}

div.row1
{
	min-width: 1170px;
	width: 100%;
	background-color: rgb(231, 231, 231);
	height: 277px;
}

div.row1_cell{
	box-sizing: border-box;
	display: inline-block;
	position: relative;
	width: 370px;
	height: 121px;
	margin-top: 80px;
	margin-bottom: 80px;
}

.row1_cell h1{
	font-size: 21px;
	font-family: "FjallaOne";
	color: rgb(32, 38, 40);
	text-transform: uppercase;
	line-height: 1.2;
	text-align: left;
	position: absolute;
	top: 0px;
	left: 100px;
}

.row1_cell p {
	font-size: 14px;
	font-family: "Lato";
	color: rgb(118, 124, 126);
	line-height: 1.714;
	text-align: left;
	position: absolute;
	top: 43px;
	left: 100px;
	width: 263px;
	height: 60px;
	word-wrap:break-word ;
}

.row1_cell p span {
	color: rgb(232, 76, 61);;
}

div.centerview{
	padding-right: 375px;
	padding-left: 375px;
	box-sizing: border-box;
	min-width: 1920px;
}

/*-------------   row 2 styles   -------------*/

section.row2_section{
	width: 1170px;
	display: flex;
	height: 100%;
	display: flex;
	justify-content:space-between;
}

section.row2_articles{
	display: flex;
	justify-content:space-between;
	width: 770px;
}

div.row2
{
	min-width: 1170px;
	height: 354px;
	padding-top: 80px;
	padding-bottom: 80px;
	box-sizing: padding-box;
}

div.row2_content
{
	width: 770px;
	height: 354px;
	display: inline-block;
	position: relative;
}

.row2 img{
	width: 354px;
	height: 354px;
}

img.row2_img{
	width: 370px;
}

.row2_content > h1{
	font-size: 22px;
	font-family: "FjallaOne";
	color: rgb(32, 38, 40);
	text-transform: uppercase;
	line-height: 1.2;
	text-align: left;
	width: 620px;
	margin-bottom: 27px;
}

.row2_content  hr{
	border: none;
	height: 1px;
	border-color: #e7e7e7;
	color: #e7e7e7;
	background-color: #e7e7e7;
}

.row2_content > h2{
	font-size: 20px;
	font-family: "Lato";
	color: rgb(232, 76, 61);
	line-height: 1.2;
	text-align: left;
	margin-top: 7px; 
	margin-bottom: 7px; 
}

section.row2_articles .article{
	display: inline-block;
	width: 370px;
	height: 238px;
}

.row2_articles .article h1{
	margin-top:25px;
	margin-bottom: 11px; 
	font-size: 16px;
	font-family: "Lato";
	color: rgb(32, 38, 40);
	font-weight: bold;
	line-height: 1.5;
	text-align: left;
}

.row2_articles .article p{
	font-size: 14px;
	font-family: "Lato";
	color: rgb(118, 124, 126);
	line-height: 1.714;
	text-align: left;
}

div.article{
	position: relative;
}

.row2_articles .article button{
	text-transform: uppercase;
	font-size: 14px;
	font-family: "Oswald";
	background-color: #e84c3d;
	padding: 7px 0px 7px 0px; 
	color: white;
	width: 70PX;
	text-align: center;
	line-height: 1.714;
	border-radius: 20px;
	border: 0px;
	position: absolute;
	bottom: 0px;
	left: 0px;
}


/*-------------   row 3 styles   -------------*/

section.row3_section{
	display: flex;	
	justify-content:space-around;
	background-color: #e84c3d;
	border-radius: 10px;
	width: 1170px;
	display: flex;
	height: 100%;
}

div.row3{
	min-width: 1170px;
	display: flex;
	width: 100%;
	height: 187px;
}

.row3 p{
	font-size: 16px;
	font-family: "Lato";
	color: rgb(255, 255, 255);
	line-height: 1.5;
	text-align: left;
}

.row3 h1{
	font-size: 21px;
	font-family: "FjallaOne";
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	line-height: 1.2;
	text-align: left;
}

.row3 button{
	border-radius: 10px;
	background-color: black;
	color: white;
	font-size: 15px;
	font-family: "FjallaOne";
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	line-height: 1.2;
	text-align: center;
}

img.button_arrow{
    padding-right: 5px;
    padding-left: 7px;
    padding-bottom: 3px;
}

div.row3_quote{
	margin-top: 50px;
	margin-bottom: 50px;
	position: relative;
	width: 542px;
	height: 96px;
}

div.row3_quote h1{
	position: absolute;
	left: 100px;
	top: 0px;
}

div.row3_quote p{
	position: absolute;
	left: 100px;
	top: 40px;
}

div.row3_quote span{
	font-size: 14px;
	font-family: "Lato";
	color: rgb(255, 255, 255);
	font-style: italic;
	line-height: 1.714;
	text-align: center;
}

div.row3_inputform{
	margin-top: 50px;
	margin-bottom: 50px;
	position: relative;
	width: 542px;
	height: 96px;
}

div.row3_inputform input{
	box-sizing: border-box;
	position: absolute;
	font-size: 14px;
	font-family: "Lato";
	color: rgb(159, 170, 173);
	font-style: italic;
	line-height: 1.714;
	text-align: left;
	bottom: 5px;
	width: 380px;
	height: 40px;
	border-radius: 30px;
	border: 0px;
	padding-left: 20px;
}

.row3_inputform button{
	font-size: 14px;
	font-family: "Oswald";
	text-transform: uppercase;
	background-color: black;
	padding: 8px 5px 8px 5px; 
	color: white;
	height: 40px;
	width: 121PX;
	text-align: center;
	line-height: 1.714;
	border-radius: 20px;
	border: 0px;
	position: absolute;
	bottom: 5px;
	right: 10px;
}

/*-------------   row 4 styles   -------------*/

section.row4_section{
	width: 1170px;
	display: flex;
	height: 440px;
	justify-content:space-between;
}

div.row4{
	min-width: 1170px;
	display: flex;
	width: 100%;
	height: 187px;
	min-width: 1170px;
	height: 440px;
	padding-top: 65px;
	padding-bottom: 65px;
	box-sizing: padding-box;
}
 
section.row4_column{
	display: inline-block;
	width: 370px;
	height: 440px;
}

.row4_column_header{
	font-size: 21px;
	font-family: "FjallaOne";
	color: rgb(32, 38, 40);
	text-transform: uppercase;
	line-height: 1.2;
	text-align: left;
	margin-bottom: 30px;
}

.row4_column_text{
	font-size: 14px;
	font-family: "Lato";
	color: rgb(118, 124, 126);
	line-height: 1.714;
	text-align: left;
}

.requestform_content{
	background-color: #e7e7e7;
	border-radius: 10px;
	height: 393px;
	padding-left: 29px;
	padding-right: 29px;
	padding-top: 1px;
}

.requestform_content input{
	box-sizing: border-box;
	font-size: 14px;
	font-family: "Lato";
	color: rgb(159, 170, 173);
	font-style: italic;
	line-height: 1.714;
	text-align: left;
	border-radius: 30px;
	border: 0px;
	padding-left: 20px;
	width: 310px;
	height: 42px;
	margin-bottom: 17px;
}

.requestform_content textarea{
	box-sizing: border-box;
	font-size: 14px;
	font-family: "Lato";
	color: rgb(159, 170, 173);
	font-style: italic;
	line-height: 1.714;
	text-align: left;
	border-radius: 15px;
	border: 0px;
	padding-top: 5px;
	padding-left: 20px;
	width: 310px;
	height: 83px;
	margin-bottom: 15px;
}

.requestform_content button{
	font-size: 14px;
	font-family: "Oswald";
	text-transform: uppercase;
	background-color: #e84c3d;
	padding: 8px 5px 8px 5px; 
	color: white;
	height: 40px;
	width: 100PX;
	text-align: center;
	line-height: 1.714;
	border-radius: 20px;
	border: 0px;
}

.requestform_content p{
	margin-bottom: 27px;
	margin-top: 31px;
}

div.moreinfo_content div, div.contacts_content div{
	border: 0px;
	border-style: solid;
	border-bottom: 1px solid #e7e7e7;
	position: relative;
	padding-top: 30px;
	padding-bottom: 30px;
	box-sizing: border-box;
}

div.moreinfo_content div:first-child, div.contacts_content div:first-child{
	border-top: 1px solid #e7e7e7;
}

div.moreinfo_content img, div.contacts_content img{
	position: absolute;
	top: 28px;
}

div.moreinfo_content p{
	margin-left: 100px;
}

div.moreinfo_content p span {
	color: rgb(232, 76, 61);
}


div.contacts_content p{
	margin-left: 50px;
}

div.contacts_content h2{
	font-size: 18px;
	font-family: "Lato";
	color: #e84c3d;
	text-align: left;
	margin-left: 50px;
}

/*-------------   footer styles   -------------*/

footer{
	box-sizing: border-box;
	padding-top: 80px;
	padding-bottom: 44px;
	height: 206px;

	min-width: 1170px;
	box-sizing: border-box;
	height: 205px;
	width: 100%;
	background-color: #202628;
}

section.footer_section
{
	width: 1170px;
	position: relative;
}

section.footer_section p
{
  font-size: 14px;
  font-family: "Lato";
  line-height: 1.714;
  text-align: left;
  color: #5f6567;
}

ul.footer_nav {
  font-size: 14px;
  font-family: "Lato";
  color: rgb(232, 76, 61);
  line-height: 1.714;
  text-align: left;
}


.footer_nav li{
	display: inline;
    margin-right: 5px;
    padding: 3px;
    color: white;
}

ul.footer_nav li + li:before{
	content:"/";
	padding-right: 13px;
	color: #4d5355;
}

span.orange {
	color: rgb(232, 76, 61);
}

div.social_links{
	position: absolute;
	top: 0px;
	right: 0px;
}

div.social_links img{
	margin-left: 8px; 
}

/*------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------tablet styles---------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------*/


@media  (min-width: 601px) and (max-width: 1190px) 
{
/*-----------------------tablet header------------------*/

	header{
		min-width: 600px;
		width: 100%;
		height: 80px;
	}

	section.header_section{
		width: 100%;
		margin-left: auto;
		margin-right: auto; 
	}


	header .logo{
		margin-left: 10px;
	}

/*-----------------tablet banner------------------*/

	img.lineimage{
		margin-bottom: 10px;
		margin-left: 14px;
		width: 170px;
	}

	div.banner{
		min-width: 600px;
		height: 300px;
	}

	section.banner_section{
		width: 100%;
	}

	div.banner_text{
		margin-bottom: 30px;
		margin-left: 20px;
	}

	p.banner_text{
		font-size: 20px;
	}

	p.banner_linktext{
		font-size: 14px;
	}

	/*----------------tablet row1------------------*/
	section.row1_section{
		justify-content: space-around;
		width: 100%;
		height: 100%;
	}

	div.row1{
		min-width: 600px;
		height: 350px;
	}

	div.row1_cell{
		width: 200px;
		height: 250px;
		margin-top: 50px;
		margin-bottom: 50px;
	}

	.row1_cell h1{
		text-align: center;
		display: block;
		position: relative;
		top: 0px;
		left: 0px;
		margin-top:20px;

	}

	.row1_cell p {
		text-align: center;
		display: block;
		position: relative;
		top: 0px;
		left: 0px;
		margin-top:20px;
		width: 190px;
	}

	img.row1_image{
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

/*--------------------tablet row2-------------------*/
	section.row2_section{
		width: 100%;
		justify-content: flex-start;
		flex-direction: column;
	}

	section.row2_articles{
		justify-content:space-around;
		width: 100%;
	}

	div.row2{
		min-width: 600px;
		height: 700px;
	}

	div.row2_content{
		width:100%;
		height: 354px;
		box-sizing: border-box;
		padding-right: 20px;
		padding-left: 20px;
	}

	img.row2_image{
		padding-bottom: 100px;
		order: -1;
		width: 250px;
		height: 250px;
		margin-left: auto;
		margin-right: auto;
	}

	.row2_content > h1{
		width: 550px;
		text-align: left;
		padding-right: 20px;
		padding-left: 20px;

	}

	.row2_content > h2{
		margin-top: 7px; 
		margin-bottom: 7px; 
		margin-right: 20px;
		margin-left: 20px;
	}

	section.row2_articles .article{
		height: 238px;
	}

	/*--------------------tablet row3----------------------*/
		section.row3_section{
		width: 100%;
		flex-direction: column;
	}

	div.row3{
		min-width: 600px;
		width: 100%;
		height: 500px;
	}

	img.person_image{
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	div.row3_quote{
		margin-top: 20px;
		margin-bottom: 20px;
		position: relative;
		width: 100%;
		height: 200px;
	}

	div.row3_quote h1{
		position: relative;
		display: block;
		text-align: center;
		left: 0px;
		width: 100%;
		margin-top: 10px;
	}

	div.row3_quote p{
		display: block;
		position: relative;
		top: 0px;
		left: 0px;
		padding-right: 20px;
		padding-left: 20px;
		text-align: center;
		padding-top: 20px;
	}

	div.row3_inputform{
		margin-top: 20px;
		margin-bottom: 20px;
		position: relative;
		width: 100%;
		height: 200px;
	}

	div.row3_inputform h1{
		left: 0px;
		position: relative;
		display: block;
		text-align: center;
		width: 100%;
		margin-top: 10px;
	}

	div.row3_inputform input{
		margin-top: 20px;
		width: 310px;
		position: relative;
		top: 0px;
		left: 0px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}


	.row3_inputform button{
		margin-top: 20px;
		position: relative;
		top: 0px;
		left: 0px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	/*--------------------tablet row4----------------------*/

	section.row4_section{
		width: 100%;
		display: flex;
		height: 1600px;
		justify-content:space-between;
		flex-wrap:wrap;
	}

	div.row4{
		min-width: 600px;
		height: 1500px;
	}
	 
	section.moreinfo{
		order: 2;
	}

	section.reuestform{
		order: 1;
		height: 500px;
	}

	section.contacts{
		order: 3;
	}

	section.row4_column{
		display: inline-block;
		width: 100%;
		height: 440px;
		margin-left: 80px;
		margin-right: 80px;
	}

	section.row4_column.requestform{
		height: 500px;
	}


	.requestform_content{
		height: 450px;
	}

	.requestform_content input{
		display: block;
		margin-left:auto;
		margin-right:auto;
	}

	.requestform_content textarea{
		display: block;
		margin-left:auto;
		margin-right:auto;
	}

	.requestform_content button{
		display: block;
		margin-left:auto;
		margin-right:auto;
	}



/*--------------------tablet footer----------------------*/


	footer{
		padding-left: 40px;
		padding-top: 40px;
		padding-bottom: 44px;
		min-width: 600px;
		box-sizing: border-box;
		height: 205px;
	}

	section.footer_section{
		width: 100%;
		position: relative;
		height: 121px;
	}

	section.footer_section p{
		width: 260px;
	}

	div.social_links{
		height: 50px;
		position: absolute;
		display: inline-block;
		bottom: 0px;
		right: 40px;
		top: auto;
	}
}


/*------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------phone styles---------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------*/
@media   (max-width: 600px) 
{

	/*-----------------------phone header------------------*/
	header{
		min-width: 360px;
		height: 190px;
	}

	section{
		width: 360px;
	}

	header .logo{
		display: block;
		text-align: center;
	}

	header nav{
		display: block;
	}

	ul.header_nav {
		font-size: 16px;
		display: block;
	}

	.header_nav li{
	    padding-right: 10px;
	    padding-left: 10px;		
	}

	/*-----------------phone banner------------------*/
	img.lineimage{
		margin-bottom: 10px;
		margin-left: 14px;
		width: 100px;
	}

	div.banner{
		min-width: 360px;
		height: 260px;
	}

	div.banner_text{
		margin-bottom: 30px;
	}

	p.banner_text{
		font-size: 20px;
	}

	p.banner_linktext{
		font-size: 14px;
	}

	/*----------------phone row1------------------*/
	section.row1_section{
		width: 360px;
		height: 100%;
		flex-direction: column;
	}

	div.row1{
		min-width: 360px;
		height: 650px;
	}

	div.row1_cell{
		margin-top: 50px;
		margin-bottom: 50px;
	}

	/*--------------------phone row2-------------------*/

	section.row2_section{
		width: 360px;
		justify-content: flex-start;
		flex-direction: column;
	}

	section.row2_articles{
		justify-content: space-between;
		flex-direction: column;
		width: 360px;
	}

	div.row2{
		min-width: 360px;
		height: 1050px;
	}

	div.row2_content{
		width: 360px;
		height: 354px;
	}

	img.row2_image{
		padding-bottom: 100px;
		order: -1;
		width: 250px;
		height: 250px;
		margin-left: auto;
		margin-right: auto;
	}

	.row2_content > h1{
		text-align: center;
		width: 360px;
	}

	section.row2_articles .article{
		display: inline-block;
		width: 360px;
		height: 238px;
	}

	/*--------------------phone row3----------------------*/

	section.row3_section{
		width: 360px;
		flex-direction: column;
	}

	div.row3{
		min-width: 360px;
		height: 500px;
	}

	img.person_image{
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	div.row3_quote{
		margin-top: 20px;
		margin-bottom: 20px;
		position: relative;
		width: 360px;
		height: 200px;
	}

	div.row3_quote h1{
		position: relative;
		display: block;
		text-align: center;
		left: 0px;
		width: 360px;
		margin-top: 10px;
	}

	div.row3_quote p{
		display: block;
		position: relative;
		top: 0px;
		left: 0px;
		padding-right: 20px;
		padding-left: 20px;
		text-align: center;
		padding-top: 20px;
	}

	div.row3_inputform{
		margin-top: 20px;
		margin-bottom: 20px;
		position: relative;
		width: 360px;
		height: 200px;
	}

	div.row3_inputform h1{
		display: block;
		left: 0px;
		position: relative;
		text-align: center;
		width: 360px;
		margin-top: 10px;
	}

	div.row3_inputform input{
		display: block;
		margin-top: 20px;
		width: 310px;
		position: relative;
		top: 0px;
		left: 0px;
		margin-left: auto;
		margin-right: auto;

	}


	.row3_inputform button{
		margin-top: 20px;
		position: relative;
		top: 0px;
		left: 0px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	/*--------------------phone row4----------------------*/


	section.row4_section{
		width: 360px;
		flex-direction: column;
		height: 1320px;
	}

	div.row4{
		min-width: 360px;
		width: 100%;
		height: 1320px;
		box-sizing: padding-box;
	}
	 
	section.row4_column{
		width: 360px;
		height: 440px;
		margin-bottom: 20px;
	}

	.row4_column_header{
		text-align: center;
		margin-bottom: 30px;
	}

	/*--------------------phone footer----------------------*/
	footer{
		box-sizing: border-box;
		padding-top: 40px;
		padding-bottom: 44px;
		height: 220px;
		min-width: 360px;
		box-sizing: border-box;
		height: 205px;
	}

	section.footer_section{
		width: 360px;
		position: relative;
		  height: 121px;
	}

	.footer_nav li{
	    margin-right: 3px;
	    padding: 1px;
	}

	ul.footer_nav li + li:before{
		padding-right: 5px;
	}

	div.social_links{
		position:relative;
		display: inline-block;
		margin-right: auto;
		margin-left: auto;
	}

	div.social_links img{
		margin-left: 8px; 
	}

}